.a {
	color: #000;
}

.importantnewsbottomtext {
	font-weight: 200;
	font-style: italic;
	font-size: 14px;
	line-height: 99.69%;
	color: #454545;
}

.importantnewstext {
	font-weight: 300;
	font-size: 18px;
	line-height: 99.69%;
	color: #343434;
	margin-top: 16px;
	margin-bottom: 6px;
}

.importantnewsheaderdate {
	font-weight: 600;
	font-size: 18px;
	line-height: 99.69%;
	color: #000;
}

.importantnewsheadertext {
	font-weight: 600;
	font-size: 36px;
	line-height: 99.69%;
	color: #000;
}

.importantnewsheader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.photo {
	width: 839px;
	height: 339px;
	border-radius: 4px;
	background-image: url("/photopromo.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 15px;
}

.maindiv {
	margin-top: 26px;
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	padding-bottom: 12px;
	border-bottom: 1px solid #C4C4C4;
	margin-bottom: 15px;
}

.newsmainheader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	margin-bottom: 11px;
}

.newsmainheadertext {
	font-weight: 700;
	font-size: 48px;
	line-height: 99.69%;
	color: #000;
}

.newsmainheadertext::before {
	left: 0;
    content: " ";
    top: 25px;
    position: absolute;
    width: calc(50% - 114.7px);
    border-top: 2px solid #000;
}

.newsmainheadertext::after {
	right: 0;
    content: " ";
    top: 25px;
    position: absolute;
    width: calc(50% - 114.7px);
    border-top: 2px solid #000;
}

@media (max-width: 1150px) {
	.photo {
		width: 100%;
		heigth: calc(100vw - 15px);
	}

	.maindiv {
		margin: 0;
		padding: 0 30px;
	}
}

@media (max-width: 660px) {
	.maindiv {
		margin: 0;
		padding: 0 15px;
	}
}