.input {
	width: 330.98px;
	height: 25px;
	background: #E0E0E0;
	border: 0.671053px solid #000000;
	box-sizing: border-box;
	border-radius: 2.68421px;
	padding-left: 11px;
	font-weight: 400;
	font-size: 13px;
	line-height: 99.69%;
	letter-spacing: 0.045em;
	color: #989898;
}

.maindiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
}

.button {
	width: 192.83px;
	height: 36.91px;
	font-weight: 500;
	font-size: 22px;
	line-height: 99.69%;
	letter-spacing: 0.045em;
	color: #000000;
	background: #C4C4C4;
	border-radius: 2.68421px;
	margin-top: 20px;
}

@media (max-width: 660px) {
	.input {
		width: 70vw;
		height: 7vw;
	}

	.button {
		width: 40vw;
		height: 7vw;
	}
}

@media (max-width: 450px) {
	.button {
		font-size: 15px;
	}
}

@media (max-width: 350px) {
	.button {
		font-size: 10px;
	}
}