.maindiv {
    margin-top: 47px;
    margin-left: 100px;
    width: 816px;
    height: 477px;
    left: 389px;
    top: 283px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);

}

.editpasswordheader {
    padding-top: 62px;
    margin-left: 280px;
    width: 258px;
    height: 29px;
    left: 669px;
    top: 345px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 99.69%;
    display: flex;
    align-items: center;
    text-align: center;
}

.inputs {
    margin: 70px 0 0 247px;
}

.currentpasswordinput {
    display: block;
    margin: 0 80px 29px 0;
    padding: 0 7px;
    width: 328px;
    height: 26px;
    left: 430px;
    top: 536px;
    background: #EAEAEA;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 99.69%;
}

.newpasswordinput {
    display: block;
    margin: 0 80px 15px 0;
    padding: 0 7px;
    width: 328px;
    height: 26px;
    left: 837px;
    top: 536px;
    background: #EAEAEA;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 99.69%;
}

.verifypasswordinput {
    display: block;
    margin: 7px 80px 0 0;
    padding: 0 7px;
    width: 328px;
    height: 26px;
    left: 430px;
    top: 536px;
    background: #EAEAEA;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 99.69%;
}

.savebutton {
    margin: 41px 0 0 247px;
    width: 328px;
    height: 47px;
    left: 631px;
    top: 603px;
    background: #C4C4C4;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 99.69%;
    align-items: center;
    text-align: center;
}


@media (max-width: 980px) {
    .nav {
        padding: 0 60px;
    }

    .footer {
        padding: 0 60px;
    }

    .maindiv {
        margin-left: -47px;
        margin-bottom: 230px;
        width: 375px;
        height: 365px;
    }

    .editpasswordheader {
        font-size: 25px;
        text-align: center;
        margin-left: 100px;
        width: 215px;
    }

    .currentpasswordinput,
    .newpasswordinput,
    .verifypasswordinput {
        font-size: 20px;
        margin: 5px 0px 10px -225px;
    }

    .savebutton {
        margin: 20px 60px;
        width: 260px;
        font-size: 17px;
    }
}