.mainMessage {
    position: relative;
    width: auto;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #B2BEB5;
}

.replyMessage {
    padding-left: 32px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

