.comments {
	position: relative;
	margin: 20px;
}

.mainMessage {
    position: relative;
    width: auto;
    padding-bottom: 16px;
    padding-top: 16px;
    // margin-bottom: 16px;
    border-bottom: 1px solid #B2BEB5;
}

.replyMessage {
    border-bottom: 1px solid #B2BEB5;
    position: relative;
    width: auto;
	margin-left: 54px;
    padding-bottom: 16px;
    padding-top: 16px;
}