.comments {
	position: relative;
	margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.commentsCount {
    margin-bottom: 10px;
}

.mainComment {
    position: relative;
    width: auto;
    padding-bottom: 16px;
    padding-top: 16px;
    // margin-bottom: 16px;
    border-top: 1px solid #B2BEB5;
}

.replyComment {
    border-top: 1px solid #B2BEB5;
    position: relative;
    width: auto;
	margin-left: 54px;
    padding-bottom: 16px;
    padding-top: 16px;
}