.morenewsrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.moreniewsdiv {
	margin-left: 30px;
	margin-top: 20px;
}

.morenews {
	font-weight: 500;
	font-size: 24px;
	line-height: 99.69%;
	color: #000;
	margin-bottom: 20px;
}

.adbannertop {
	margin-top: 13px;
}

.adbannerside {
	margin-top: 16px;
	margin-bottom: 180px;
}

.bothsides {
	display: flex;
	flex-direction: row;
}

.leftside {
	display: flex;
	flex-direction: column;
}

.rightside {
	display: flex;
	flex-direction: column;
	width: 100%;
}

@media (max-width: 1150px) {
	.leftside {
		display: none;
	}

	.moreniewsdiv {
		margin: 0;
		margin-top: 15px;
		padding: 0 30px;
	}
}

@media (max-width: 660px) {
	.moreniewsdiv {
		margin: 0;
		margin-top: 15px;
		padding: 0 15px;
	}
}