.selectsortbar {
	display: inline-block;
	margin-left: 19px;
	margin-top: 25px;
	width: 840px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.selectsortbarheader {
	display: inline-block;
	position: static;
	width: 111px;
	height: 16px;
	left: 0px;
	top: 0px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 99.69%;
}

.selectsortbardate {
	display: inline-block;
	position: static;
	width: 41px;
	height: 16px;
	left: 126px;
	top: 0px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 99.69%;
}

.selectsortbarsell {
	display: inline-block;
	position: static;
	width: 70px;
	height: 16px;
	left: 182px;
	top: 0px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 99.69%;
}

.selectsortbarbuy {
	display: inline-block;
	position: static;
	width: 65px;
	height: 16px;
	left: 267px;
	top: 0px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 99.69%;
}

.postbutton {
	margin-left: 383px;
	width: 170px;
	height: 45px;
	left: 1209px;
	top: 321px;
	background: #C4C4C4;
	border: none;
	border-radius: 4px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 99.69%;
}