.main {
	max-width: 1600px;
	margin: 0 auto;
	margin-top: 24px;
	flex-grow: 1;

}

.buysell {
	color: #000000;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 99.69%;
}

.inputSearch {
	width: 270px;
	height: 18px;
	background: #FFF7F7;
	border: 1px solid #000000;
	border-radius: 3px;
	padding: 1px 7px;
	margin: 0;
}

.searchbutton {
	padding: 0;
	border: 0;
	width: 22px;
	height: 22px;
}

.footer {
	background: #ADADAD;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	margin-top: 24px;
	padding: 30px 215px;
}

.footercontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%
}

.footerleft {
	display: flex;
	align-items: center;
}

.supportlink {
	text-decoration: none;
	font-weight: 500;
	font-size: 24px;
	line-height: 99.69%;
	text-align: center;
	color: #000000;
	margin-left: 49px;
}

.footerul {
	font-weight: 300;
	font-size: 14px;
	line-height: 99.69%;
	text-align: right;
	color: #000000;
}

.footerul>li+li {
	margin-top: 11px;
}

.footerphone {
	color: #000000;
}

// @media (max-width: 1150px) {
// 	.nav {
// 		padding: 0 60px;
// 	}

// 	.footer {
// 		padding: 30px 60px;
// 	}
// }

// @media (max-width: 660px) {
// 	.footercontainer {
// 		flex-direction: column;
// 	}

// 	.footerul {
// 		margin-top: 15px;
// 		text-align: center;
// 	}

// 	.footerul {
// 		font-size: 13px;
// 	}

// 	.supportlink {
// 		font-size: 15px;
// 	}
// }

@media only screen and (max-width: 1200px) {
	.navbar {
		padding: 0 60px;
	}

	.footer {
		padding: 30px 60px;
	}
	.navbarSectionText {
		font-size: 17px;
	}
	.navbarSectionButton {
		font-size: 15px;
		
	}
	.loginModal {
		margin-right: 50px;
	}
	.priceButtonContainer {
		display: inline;
		margin-top: 0;

	}
	.priceTitle {
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.footercontainer {
		min-width: 100%;
		
	}
	.logo {
		width: 50px;
	}
	
}
@media only screen and (max-width: 992px) {
	.footercontainer {
		min-width: 100%;
		margin: 0 auto;
	}
	
}
@media only screen and (max-width: 768px) {
	
}
@media only screen and (max-width: 480px) {
	
}
@media only screen and (max-width: 320px) {
	
}
