.p {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 99.69%;
}

.btnpanel {
	width: 320px;
	height: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 5px;
	margin-left: 15px;
}

.radiobtn {
	width: 15px;
	height: 15px;
	margin-right: 10px;
}

.maindiv {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.h2 {
	font-weight: 500;
	font-size: 17px;
	margin-bottom: 10px;
	line-height: 99.69%;
	letter-spacing: 0.045em;
}

.input {
	width: 327px;
	height: 40px;
	padding-left: 11px;
	margin-bottom: 3px;
}

@media (max-width: 660px) {
	.input {
		width: 70vw;
		height: 7vw;
	}

	.inputpassword {
		width: 70vw;
		height: 7vw;
	}
}