.input {
	width: 347px;
	height: 40px;
	box-sizing: border-box;
	padding-left: 11px;
	font-weight: 400;
	font-size: 15px;
	line-height: 99.69%;
	letter-spacing: 0.045em;
	margin-bottom: 10px;
}

.secondblock {
	display: flex;
	flex-direction: column;
}

.firstblock {
	margin-bottom: 30px;
}

.maindiv {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	
}

.h2 {
	font-weight: 600;
	font-size: 20px;
	line-height: 99.69%;
	letter-spacing: 0.045em;
	margin-bottom: 30px;
}

@media (max-width: 660px) {
	.input {
		width: 70vw;
		height: 7vw;
	}

	.inputpassword {
		width: 70vw;
		height: 7vw;
	}
}