.maindiv {
	margin-top: 24px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 11px;
}

.promotitle {
	font-weight: 700;
	font-size: 32px;
	// letter-spacing: 0.085em;
	color: #000000;
}

.promodate {
	font-size: 16px;
	color: #B2BEB5;
}

.itemtable {
    table-layout: fixed;
    width:100%
}


.itemtd {
    word-wrap: break-word;
}