.maindiv {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 10%);
    padding: 10px 6px 21px 5px;
    margin-top: 24px;
}

.gostsheader {
    padding-bottom: 13px;
}

.gostsheadertext {
    font-weight: 700;
    font-size: 40px;
    text-align: center;

}

.gostsbodytextone,
.gostsbodytexttwo,
.gostsbodytextthree,
.gostsbodytextfour {
    margin-top: 5px;
    padding-left: 10px;
    text-indent: 30px;
    line-height: 20px;
}



@media (max-width: 1150px) {
    .leftside {
        display: none;
    }

}

@media (max-width: 660px) {
    .rightside {
        width: 100%;
    }

    .gostsbodytextone,
    .gostsbodytexttwo,
    .gostsbodytextthree,
    .gostsbodytextfour {
        margin-top: 15px;
        font-size: 18px;
        line-height: 22px;
    }
}