.adbannertop {
    margin-top: 13px;
}

.bothsides {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 90px;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }

    .adbannertop {
        width: 100px;
    }

    .rightside {
        margin-left: 15px;
    }

    .bothsides {
        margin-left: 65px;
    }
}

@media (max-width: 1150px) {
    .adbannertop {
        display: none;
    }

}