.newsrow {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.adbannertop {
    margin-top: 13px;
}

.adbannerside {
    margin-top: 16px;
    margin-bottom: 180px;
}

.bothsides {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftside {
    display: flex;
    flex-direction: column;
}

.rightside {
    display: flex;
    flex-direction: column;
    width: 864px;
    align-items: center;

}

@media (max-width: 1150px) {
    .leftside {
        display: none;
    }

}