.buttonsrow {
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #848484;
	padding-bottom: 18px;
}

.profilebutton {
	width: 250px;
	height: 250px;
	background: #C4C4C4;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 29px 0 18px 0;
	font-weight: 500;
	font-size: 24px;
	line-height: 99.69%;
	color: #000;
}

.adbannertop {
	margin-top: 13px;
}

.adbannerside {
	margin-top: 16px;
	margin-bottom: 180px;
}

.bothsides {
	display: flex;
	flex-direction: row;
}

.leftside {
	display: flex;
	flex-direction: column;
}

.leftside .buttonsrow {
	display: none;
}

.rightside {
	padding-left: 25px;
	display: flex;
	flex-direction: column;
	width: 100%;
}


@media (max-width: 1100px) {}

@media (max-width: 660px) {
	.leftside {
		margin-left: 62px;
	}

	.rightside .buttonsrow {
		display: none;
	}

	.leftside .buttonsrow {
		margin-top: 24px;
		margin-left: 20px;
		display: block;
		align-items: center;
		justify-content: space-around;
		border-bottom: 1px solid #848484;
		padding-bottom: 18px;
	}

	.profilebutton {
		width: 250px;
		height: 250px;
		margin-bottom: 10px;
		background: #C4C4C4;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 29px 0 18px 0;
		font-weight: 500;
		font-size: 24px;
		line-height: 99.69%;
		color: #000;
	}
}