.promosrow {
	flex-direction: row;
}

.adbannertop {
	margin-top: 13px;
}

.adbannerside {
	margin-top: 16px;
	margin-bottom: 180px;
}

.bothsides {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.leftside {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.rightside {
	display: flex;
	flex-direction: column;
	width: 864px;
	align-items: center;

}