.maindiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 56px;
	justify-content: center;
	min-width: 1164px;
	margin-top: 30px;
}

.adbannertop {
	margin-top: 13px;
}

.bottomtext {
	font-weight: 400;
	font-size: 18px;
	line-height: 99.69%;
	letter-spacing: 0.045em;
	color: #000000;
	margin-top: 15px;
}

.bottomlink {
	color: #005478;
}